.account_password {
    display: flex;
  }
  
  .leftcontainer {
    flex: 1;
background-color: #f8fafc;
  }
  
  .main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .main-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sub-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .acright-container {
    flex: 3;
    height: auto;
  }

  .input-error-container {
    display: flex;
    flex-direction: column;
  }
  .form-group .error-text {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .form-group .error {
    border-color: red;
  }
  .acright-container .section {
    margin-left: 150px;
    margin-top: 50px;
  }
  
  .acright-container .section h2 {
    margin-bottom: 20px;
  }
  
  /* Style the form groups in row format */
  .acright-container .form-group {
    margin-bottom: 10px;
  }
  
  .acright-container .form-group input {
    width: 40%;
  }
  
  /* Style the password change button */
  .acright-container button[type="submit"] {
    padding: 10px 20px;
    background-color: #3e2fa3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 25%;
  }
  
  .acright-container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Style the two-factor authentication section */
  .acright-container .two-factor-auth {
    display: flex;
    align-items: center;
  }
  
  .acright-container .two-factor-auth p {
    margin-right: 10px;
  }
  
  .acright-container .toggle-switch {
    padding-left: 10px;
    position: relative;
  }
  
  .acright-container .toggle-switch .switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
  }
  
  .acright-container .toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .acright-container .toggle-switch .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .acright-container .toggle-switch input:checked + .slider {
    background-color: #007bff;
  }
  
  .acright-container .toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
  }
  
  .acright-container .toggle-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .acright-container .toggle-switch .slider.round {
    border-radius: 34px;
  }
  
  .acright-container .toggle-switch .slider.round:before {
    border-radius: 50%;
  }

  .acright-container .toggle-switch input {
    display: none;
  }



  /* For responsiveness on smaller screens */
@media screen and (max-width: 768px) {
  .account_password {
    flex-direction: column; /* Change the direction to stack components vertically */
    width: 100%;
  }

 
  .acright-container {
    width: 100%; /* Make the right container take up the full width on smaller screens */
    border: none; /* Remove the border for better visual appearance */
  }

  .acright-container .section {
    margin: 10px; /* Add some margin to the sections for better spacing */
  }

  .acright-container .form-group input {
    width: 90%; /* Make the form inputs take up the full width on smaller screens */
  }

  .acright-container button[type="submit"] {
    width: 93%; /* Make the password change button take up the full width on smaller screens */
  }

  .acright-container .two-factor-auth {
    flex-direction: column; /* Stack two-factor authentication section vertically on smaller screens */
    align-items: flex-start; /* Align items to the start */
  }

  .acright-container .toggle-switch {
    margin-top: 10px; /* Add some spacing above the toggle switch */
  }

  .acright-container .toggle-switch input {
    display: inline-block; /* Display the input for the toggle switch on smaller screens */
  }
}
