/* ResetPassword.css */

.reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .logo {
    width: 170px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  .reset-password-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-container input {
    width: 370px;
    height: 20px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .reset-password-button {
    width: 370px;
    padding: 12px 20px;
    font-size: 18px;
    background-color: #3e2fa3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .reset-password-button:hover {
    background-color: #0056b3;
  }


  .links-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    text-align: center;
  }
  
  .links-container a {
    text-decoration: underline;
    color: blue;
   
  }
  
  .links-container a:hover {
    text-decoration: none;
  }


  
  /* For screens smaller than 768px (e.g., mobile devices) */
  @media (max-width: 768px) {
    .reset-password-container {
      width: auto;
      max-width: none;
      padding: 10px;
    }
  
    .input-container input {
      width: auto;
    }
  
    .reset-password-button {
      width: auto;
    }
  }
  